@import-normalize;

html, body {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.SarcasticOutput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 12px;
    background-color: rgb(151, 221, 199);
    min-height: 30px;
    max-height: 30px;
    border-radius: 5px;
}

.SarcasticOutput > p {
    max-width: 90%;
    overflow: hidden;
}